* {
  /* background-color: aquamarine; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* le roboto de google font */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #2c3e5036;
  overflow-x: hidden;
}

/* style pour la partie header  */

.barreNav {
  background-color: #2c3e50;
  box-shadow: 4px 1px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  max-height: 60px;
  position: fixed;
  top: 0;

  .img-logo {
    width: 80px;
    height: 50px;
    border-radius: 60%;
    padding: 5px;
    object-fit: fill;
  }
  .listeUL {
    display: flex;
    justify-content: center;
    margin: 2%;
  }
  .liste {
    margin: 3%;
    padding: 3px;
    display: flex;

    list-style: none;
    a {
      text-decoration: none;
      color: white;

      padding: 5px;
      border-radius: 5px;
    }
  }
}
/* ------------------------------------------------------------------------------------ */
.bloc {
  margin-top: 50px;
}

#about {
  /* background: url("https://media.istockphoto.com/id/541570996/fr/photo/gris-argent-brillant-noir-grunge-mur-feuille-de-fond-textur%C3%A9.webp?a=1&b=1&s=612x612&w=0&k=20&c=JWVWNODyzGIeDQ0P-RuL2lnMt06y69Uf75mYHyJxR-w=") no-repeat center/cover; */
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10% 20%;
  gap: 20px;

  .titre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  img {
    border-radius: 50%;
  }
}
/* ----------------------------------------------------------- */
#work {
  h2 {
    margin: 2% 5%;
    color: #fd5401;
  }
  .traveaux {
    display: flex;
    justify-content: space-around;
    margin: 5%;
  }
  p {
    max-width: 300px;
    text-align: center;
  }
}
/* ---------------------------------------------------------------------- */
#resume {
  /* background: url("/images/mot-d-amelioration-de-la-strategie-d-opportunite-de-developpement.jpg") no-repeat center/cover;  */
  /*= text-align: center;*/
  color: black;
  height: 350px;
  position: relative;
  background-color: #2c3e5027;
  padding: 20px 25px;

  h2 {
    margin: 2% 5%;
    color: white;
  }
  p {
    width: 600px;
    text-align: center;
    position: absolute;
    left: 500px;
    top: 20px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    line-height: 0.7cm;

    padding: 2%;
    border-radius: 40%;
  }
  img {
    width: 180px;
    height: 180px;
  }
  .cv {
    position: absolute;
    left: 15%;
    top: 100px;
  }
}
/* ----------------------------------------------------------------------------- */

#contact {
  h2 {
    margin: 2% 5%;
    color: white;
  }
  p {
    text-align: center;
  }
  .formulaire {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 15px 20px;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 4px 5px gray;

    input,
    textarea {
      padding: 5px;
      border: 1px solid rgba(128, 128, 128, 0.413);
      border-radius: 5px;
    }
    input::placeholder {
      color: rgba(
        0,
        0,
        255,
        0.136
      ); /* Sets the placeholder color to a light gray */
    }
    textarea::placeholder {
      color: rgba(0, 0, 255, 0.136);
    }

    button {
      grid-column: 2;
      padding: 10px;
      font-size: 0.8rem; /*rem 16px*/
      border: none;
      border-radius: 6px;
      background-color: rgba(0, 0, 255, 0.545);
      color: white;
      cursor: pointer;
      transition: 0.2s;
    }
    button:hover {
      background-color: rgba(0, 0, 255, 0.682);
    }
  }
}
/* --------------------------------------
 */
footer {
  background-color: #2c3e50;
  padding: 20px;
  text-align: center;
  color: white;
}
