* {
  /* background-color: aquamarine; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* le roboto de google font */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* background-color: #2c3e5036;
   */
  
}

/* style pour la partie header  */

.barreNav {
  background-color: #2c3e50;
  box-shadow:  4px 1px 6px rgba(0, 0,0, 0.1);;
  display: flex;
  justify-content: space-between;
  align-items: center;
   width: 100%;
   padding: 0 50px;
   max-height: 60px;
   position:fixed;
   top:0;

  .img-logo {
    width: 80px;
    height: 50px;
    border-radius: 50%;
    object-fit:fill;
    
  }
  .listeUL {
    display: flex;
    justify-content: center;
    margin: 2%;
   
  }
  .liste {
    margin: 3%;
    padding: 3px;
    display: flex;

    list-style: none;
    a {
      text-decoration: none;
      color: white;
     
      padding: 5px;
      border-radius: 5px;
    }
   
  }
}
/* ------------------------------------------------------------------------------------ */
.bloc{
    /* margin-top: 150px; */
}

#about{
     background: url("https://plus.unsplash.com/premium_photo-1686255006386-5f58b00ffe9d?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center/cover;
    text-align: center;
    h1,h2{
        margin: 2%;
    }
    img{
        border-radius: 5%;
        width: 280px;
        height: 280px;
        object-fit: cover;

    }
}
/* ----------------------------------------------------------- */
#work{
    h3{
        margin: 2%;
        color: blue;
    }
    .traveaux{
      display: flex;
      justify-content:space-around;
      margin: 5%;
    }
    p{
        max-width: 300px;
        text-align: center;
    }

}

